.div{
    background-color: blueviolet;
    height: 110vh; 
}
.form{
    color: white;
    height: inherit;
    width: inherit;
    position: absolute;
    top: 45px;
left: 55px;
}
.sec {
   position: absolute;
   top: 260px;
left: 452px;  
bottom: 40px; 
    height: 45vh;
    width:  30vw;
    border: 5px solid;
}
.btn {
   padding:10px;
   padding-left: 85px;
}
.button {
    background-color: brown;
    color: white;
    width: 85px;
    border-radius: 15px;
}
.head {
    font-size: 20px;
}